@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* my dark styling */
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
}

.container {
    border: 1px green solid;
    height: 100vh;
    width: 50vw;
}

.new-file,
.save,
.options {
    height: 20px;
    width: 50vw;
    border: none;
}

.new-file:hover {
    background-color: greenyellow;
    transition: 0.7s ease;
}

.btn {
    height: 20px;
    width: 50vw;
    /* position: absolute;
    bottom: 0; */
}
